
<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3>Profile</h3>
</div>

<!-- Row -->
<div class="row">

<form [formGroup]="businessProfileForm">
  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">
  
      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-material-outline-business"></i> About Your Business</h3>
      </div>

      <div class="content with-padding">
        <div class="row">
          <div class="col-auto">
            <app-picture-uploader [fileReference]="picture.value.fileReference" (onPictureUploaded)="addPicture($event)"></app-picture-uploader>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-xl-6">
                <div class="submit-field">
                  <h5>Name</h5>
                  <input type="text" class="with-border" placeholder="Name Your Business" formControlName="name">
                </div>
              </div>
    
              <div class="col-xl-6">
                <div class="submit-field">
                  <h5>Owner</h5>
                  <input type="text" class="with-border" placeholder="Owner of the Business" formControlName="owner">
                </div>
              </div>

              <div class="col-xl-12">
                <div class="submit-field">
                  <h5>Tagline</h5>
                  <input type="text" class="with-border" value="iOS Expert + Node Dev" formControlName="tagline">
                </div>
              </div>
              
            </div>     
          </div>
        </div>
        <div class="row">
                 
          <div class="col-xl-12">
            <div class="submit-field">
              <h5>Introduce Your Business</h5>
              <textarea cols="30" rows="5" class="with-border" formControlName="description"></textarea>
            </div>
          </div>
        
          <div class="col-xl-12">
            <div class="submit-field">
              <h5>Services </h5>
              <ng-select  [items]="dataSources.businessServices"
                          bindLabel="name"
                          groupBy="categoryName"
                          [multiple]="true"
                          placeholder="Select services"
                          formControlName="services">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  {{item.categoryName }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  {{item.name}}
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-xl-12">
              <div class="submit-field">
                <h5>Locations Served </h5>
                <ng-select 
                    [items]="dataSources.serviceAreas"
                    bindLabel="name"
                    [multiple]="true"
                    placeholder="Select locations"
                    formControlName="serviceAreas">
                </ng-select>
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box ">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-feather-globe"></i> How to Reach You</h3>
      </div>

      <div class="content with-padding ">
        <div class="row">
          <div class="col-xl-6">
            <div class="submit-field">
                <h5>Phone </h5>
                <div class="input-with-icon-left">
                    <i class="icon-feather-phone"></i>
                    <input type="text" class="input-text with-border" placeholder="(999)-999-999" formControlName="phone">
                  </div>
            </div>
          </div>

            <div class="col-xl-6">
              <div class="submit-field">
                  <h5>Email </h5>
                  <div class="input-with-icon-left">
                      <i class="icon-material-outline-email"></i>
                      <input type="text" class="input-text with-border" placeholder="you@email.com" formControlName="email">
                    </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                  <h5>Facebook </h5>
                  <div class="input-with-icon-left">
                      <i class="icon-feather-facebook"></i>
                      <input type="text" class="input-text with-border" placeholder="facebook.com\your-page" formControlName="facebook">
                    </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                  <h5>Instagram </h5>
                  <div class="input-with-icon-left">
                      <i class="icon-feather-instagram"></i>
                      <input type="text" class="input-text with-border" placeholder="@instagram" formControlName="instagram">
                    </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                  <h5>Twitter </h5>
                  <div class="input-with-icon-left">
                      <i class="icon-feather-twitter"></i>
                      <input type="text" class="input-text with-border" placeholder="@twitter" formControlName="twitter">
                    </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                  <h5>LinkedIn </h5>
                  <div class="input-with-icon-left">
                      <i class="icon-line-awesome-linkedin-square"></i>
                      <input type="text" class="input-text with-border" placeholder="Placeholder" formControlName="linkedIn">
                    </div>
              </div>
            </div>

        </div>
      
      </div>
    </div>
  </div>
 
   <!-- Dashboard Box -->
   <div class="col-xl-12">
      <div class="dashboard-box ">
  
        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-location-on"></i> Your Address</h3>
        </div>
  
        <div class="content with-padding ">
          <div class="row">
            <div class="col-xl-12">
              <div class="submit-field">
                <h5>Street</h5>
                <input type="text" class="with-border" value="" formControlName="streetAddress1">
              </div>
            </div>
            <div class="col-xl-12">
              <div class="submit-field">
                <input type="text" class="with-border" value="" formControlName="streetAddress2">
              </div>
            </div>
            <div class="col-xl-6">
              <div class="submit-field">
                <h5>City, Town or Suburb</h5>
                <input type="text" class="with-border" value="" formControlName="cityTownOrSuburb">
              </div>
            </div>
            <div class="col-xl-6">
              <div class="submit-field">
                <h5>State, Province or Region</h5>
                <input type="text" class="with-border" value="" formControlName="stateRegionOrProvince">
              </div>
            </div>
            <div class="col-xl-6">
              <div class="submit-field">
                <h5>Postcode</h5>
                <input type="text" class="with-border" value="" formControlName="postCode">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box ">
  
      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-feather-paperclip"></i> Attachments</h3>
      </div>

      <div class="content with-padding ">
        <div class="row">
            <div class="col-xl-12">
                <div class="submit-field">
                    
                  <!-- Attachments -->
                  <div class="attachments-container margin-top-0 margin-bottom-0 " >
                    <div class="attachment-box ripple-effect col-xl-3" *ngFor="let storedFile of storedFiles.value">
                      <span>{{storedFile.fileName}}</span>
                      <i>{{storedFile.fileType}}</i>
                      <button class="remove-attachment" appTippyTooltips data-tippy-placement="top" title="Remove" (click)="deleteStoredFile(storedFile.fileReference)"></button>
                    </div>

                  </div>
                  <div class="clearfix"></div>                  
                  <app-file-uploader (onFileUploaded)="addStoredFile($event)"></app-file-uploader>
                  
                </div>
            </div>
          </div>
       
      </div>
    </div>
  </div>
</form>

  <!-- Dashboard Box -->
  <div class="col-xl-12">
      <div class="dashboard-box ">
  
        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-line-awesome-gear"></i> Profile Options</h3>
        </div>
  
        <div class="content with-padding ">
          <div class="row">
            <div class="col-xl-6">
              <p>
                If you are not accepting any business right now (you might be going on vacation ), don't worry, you can temporily stop people from seeing your profile.  
                Just reactivate it once you are back.  
              </p>
            </div>
            <div class="col-xl-6">
                <div class="submit-field">
                  <div class="account-type">
                    <div>
                      <input type="radio" name="account-type-radio" id="acivated-radio" class="account-type-radio" [checked]="isTrading.value">
                      <label for="acivated-radio" class="ripple-effect-dark" (click)="enableProfile(true)"> Activated</label>
                    </div>
  
                    <div>
                      <input type="radio" name="account-type-radio" id="deactivated-radio" class="account-type-radio" [checked]="!isTrading.value">
                      <label for="deactivated-radio" class="ripple-effect-dark" (click)="enableProfile(false)"> Deactivated</label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        
        </div>
      </div>
    </div>
  
  <!-- Button -->
  <div class="col-xl-12">
    <a href="javascript:return false;" class="button ripple-effect big margin-top-30" (click)="saveChanges()">Save Changes</a>
  </div>

</div>
<!-- Row / End -->