<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3>Jobs</h3>
</div>

<!-- Row -->
<div class="row">

  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
      </div>

      <div class="content">
        <ul class="dashboard-box-list">
          <li *ngFor="let job of jobsListing">
            <!-- Job Listing -->
            <div class="job-listing">

              <!-- Job Listing Details -->
              <div class="job-listing-details">

                <!-- Logo -->
<!-- 											<a href="#" class="job-listing-company-logo">
                  <img src="images/company-logo-05.png" alt="">
                </a> -->

                <!-- Details -->
                <div class="job-listing-description">
                  <h3 class="job-listing-title"><a href="#">{{ job.title }}</a> <span class="dashboard-status-button green">Pending Approval</span></h3>
                  
                  <!-- Job Listing Footer -->
                  <div class="job-listing-footer">
                    <ul>
                      <li><i class="icon-material-outline-date-range"></i> Required by  {{ job.requiredDate | date:short }}</li>
                      <li *ngIf="job.expiryDate != null"><i class="icon-material-outline-date-range"></i> Expiring on {{ job.expiryDate | date:short }}</li>
                    </ul>
                  </div>

                  <p>
                    {{ job.description }}
                  </p>
                  
                </div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="buttons-to-right always-visible">
              <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Quotes <span class="button-info">{{ job.quotes.length }}</span></a>
              <a href="javascript:void(0)" (click)="openEditJobDialog(job.id)" class="button gray ripple-effect ico" appTippyTooltips title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
              <a href="#" class="button gray ripple-effect ico" appTippyTooltips title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
            </div>
          </li>

          <li>
            <!-- Job Listing -->
            <div class="job-listing">

              <!-- Job Listing Details -->
              <div class="job-listing-details">

                <!-- Details -->
                <div class="job-listing-description">
                  <h3 class="job-listing-title"><a href="#">Full Stack PHP Developer</a> <span class="dashboard-status-button yellow">Expiring</span></h3>

                  <!-- Job Listing Footer -->
                  <div class="job-listing-footer">
                    <ul>
                      <li><i class="icon-material-outline-date-range"></i> Posted on 28 June, 2018</li>
                      <li><i class="icon-material-outline-date-range"></i> Expiring on 28 July, 2018</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

            <!-- Buttons -->
            <div class="buttons-to-right always-visible">
              <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Candidates <span class="button-info">3</span></a>
              <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top" ><i class="icon-feather-edit"></i></a>
              <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
            </div>
          </li>

          <li>
            <!-- Job Listing -->
            <div class="job-listing">

              <!-- Job Listing Details -->
              <div class="job-listing-details">

                <!-- Details -->
                <div class="job-listing-description">
                  <h3 class="job-listing-title"><a href="#">Node.js Developer</a> <span class="dashboard-status-button red">Expired</span></h3>

                  <!-- Job Listing Footer -->
                  <div class="job-listing-footer">
                    <ul>
                      <li><i class="icon-material-outline-date-range"></i> Posted on 16 May, 2018</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="buttons-to-right always-visible">
              <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Candidates <span class="button-info">7</span></a>
              <a href="#" class="button dark ripple-effect"><i class="icon-feather-rotate-ccw"></i> Refresh</a>
              <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
              <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
<!-- Row / End -->

<app-edit-job-dialog></app-edit-job-dialog>