<!-- Notifications -->
<div class="header-notifications" [ngClass]="{'active' : showDropdown}">
          
  <!-- Trigger -->
  <div class="header-notifications-trigger">
    <a href="#" (click)="toggleDropdown()"><i class="icon-feather-bell"></i><span>{{notifications.length}}</span></a>
  </div>

  <!-- Dropdown -->
  <div class="header-notifications-dropdown">

    <div class="header-notifications-headline">
      <h4>Notifications</h4>
      <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
        <i class="icon-feather-check-square"></i>
      </button>
    </div>

    <div class="header-notifications-content">
      <div class="header-notifications-scroll" data-simplebar>
        <ul>
          <!-- Notification -->
          <li *ngFor="let notification of notifications" class="notifications-not-read">
            <a href="">
              <span class="notification-icon"><i class="{{notification.icon}}"></i></span>
              <span class="notification-text">
                <strong>{{notification.subject}}</strong> {{notification.predicate}} <span class="color">{{notification.object}}</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>