<!-- Messages -->
<div class="header-notifications user-menu" [ngClass]="{'active' : showDropdown}" *ngIf="authenticated">
    <div class="header-notifications-trigger" *ngIf="authenticated">
      <a href="#" (click)="toggleDropdown()"><div class="user-avatar status-online"><img src="assets/images/user-avatar-small-01.jpg" alt=""></div></a>
    </div>
   

    <!-- Dropdown -->
    <div class="header-notifications-dropdown" >

      <!-- User Status -->
      <div class="user-status">

        <!-- User Name / Avatar -->
        <div class="user-details">
          <div class="user-avatar status-online"><img src="assets/images/user-avatar-small-01.jpg" alt=""></div>
          <div class="user-name">
            Tom Smith <span>Freelancer</span>
          </div>
        </div>
        
        <!-- User Status Switcher -->
        <div class="status-switch" id="snackbar-user-status">
          <label class="user-online current-status">Online</label>
          <label class="user-invisible">Invisible</label>
          <!-- Status Indicator -->
          <span class="status-indicator" aria-hidden="true"></span>
        </div>	
      </div>
      
      <ul class="user-menu-small-nav" >
        <li><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['manage']"><i class="icon-material-outline-settings"></i> Settings</a></li>
        <li><a  (click)="signout()"><i class="icon-material-outline-power-settings-new"></i> Signout</a></li>
      </ul>

      
    </div>
</div>


<div class="header-notifications" *ngIf="!authenticated">
  <div class="header-notifications-trigger">
    <a href="#" ><i class="icon-feather-log-in"></i></a>
  </div>
</div>

