<!-- Header Container
================================================== -->
<header id="header-container" #headerContainer class="fullwidth dashboard-header" [ngClass]="{'cloned':isCloned}" [ngStyle]="{'position': position}">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a [routerLink]="['/']"><img src="assets/images/logo.png" alt=""></a>
				</div>

			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
      
        <!-- Main Navigation -->
        <div class="header-widget" >
          <nav id="navigation" >
            <ul id="">
              <ng-container *ngIf="authenticatedAsCustomer">
                <li class="no-dropdown"><a href="#">Post A Job</a></li>
                <li class="no-dropdown"><a href="#">My Jobs</a></li>
              </ng-container>
              <ng-container *ngIf="authenticatedAsBusiness">
                <li class="no-dropdown"><a href="#">My Leads</a></li>
                <li class="no-dropdown"><a href="#">My Quotes</a></li>  
              </ng-container>
              <li class="no-dropdown"><a [routerLink]="['/register']">Get A Quote</a></li>
              <li class="no-dropdown"><a [routerLink]="['/register', 'business']">List Your Business</a></li>  
              <li class="no-dropdown" *ngIf="!authenticated"><a [routerLink]="['/signin']">Sign In</a></li>
            </ul>
          </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->
        </div>
				  
        
        <ng-container *ngIf="loggedInAsCustomer || loggedInAsBusinessOwner">
          <!--  User Notifications -->
          <div class="header-widget hide-on-mobile">
            <app-header-notifications></app-header-notifications>
            <app-header-messages></app-header-messages>
          </div>
          <!--  User Notifications / End -->
       
          <!-- User Menu -->
          <div class="header-widget">
            <app-header-user-menu [authenticated]="true"></app-header-user-menu>
          </div>
          <!-- User Menu / End -->
        </ng-container>

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
