			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-thumb-up"></i> Reviews</h3>
				</div>
				<ul class="boxed-list-ul">
					<li *ngFor="let review of reviews"> 
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4> {{review.reviewerName}} <span>General review </span></h4>
								<div class="item-details margin-top-10">
									<div appStarRating class="star-rating" [rating]="review.rating*1.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> {{ review.reviewDate | date:short }}</div>
								</div>
								<div class="item-description">
									<p>{{review.content}} </p>
								</div>
							</div>
						</div>
					</li>
        </ul>
        

        <!-- Button -->
        <div class="clearfix"></div>
				
				<a href="" *ngIf="isUserAuthenticated"  (click)="addReview($event)" class="apply-now-button popup-with-zoom-anim margin-bottom-30 margin-top-50">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></a>
        

				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="pagination-container margin-top-40 margin-bottom-10">
					<nav class="pagination">
						<ul>
							<li><a href="#" class="ripple-effect current-page">1</a></li>
							<li><a href="#" class="ripple-effect">2</a></li>
							<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
						</ul>
					</nav>
				</div>
				<div class="clearfix"></div>
				<!-- Pagination / End -->

			</div>
			<!-- Boxed List / End -->